<aside class="menu">
    <p class="menu-label">
      <span class="subtitle">General</span>
    </p>
    <ul class="menu-list">
      <li><a routerLink="/clientes" routerLinkActive="is-active">Clientes</a></li>
      <li><a routerLink="/proveedores" routerLinkActive="is-active">Proveedores</a></li>
    </ul>
    <p class="menu-label">
      Administración
    </p>
    <ul class="menu-list">
      <li>
        <a>Usuarios</a>
        <ul>
          <li><a>Añadir usuario</a></li>
          <li><a>Importar usuario</a></li>
        </ul>
      </li>
    </ul>
  </aside>
